
# Broadcom 2837 on Raspberry Pi 3

telnet_port 4444
gdb_port 3333
#tcl_port 0

adapter_khz 1000

adapter_nsrst_delay 400
# jtag_ntrst_delay 400

if { [info exists CHIPNAME] } {
  set  _CHIPNAME $CHIPNAME
} else {
  set  _CHIPNAME rpi
}

reset_config none

# TAP Configuration http://openocd.org/doc/html/TAP-Declaration.html
if { [info exists CPU_TAPID ] } {
  set _CPU_TAPID $CPU_TAPID
} else {
  set _CPU_TAPID 0x4ba00477
}
jtag newtap $_CHIPNAME arm -irlen 6 -expected-id $_CPU_TAPID

# CPU Configuration http://openocd.org/doc/html/CPU-Configuration.html
set _TARGETNAME $_CHIPNAME.arm
target create $_TARGETNAME cortex_a -chain-position $_TARGETNAME
# $_CHIPNAME.arm configure -event gdb-attach { halt }

# DAP config requires the latest open-ocd version from git://git.code.sf.net/p/openocd/code
#set _DAPNAME $_CHIPNAME.dap
#dap create $_DAPNAME -chain-position $_TARGETNAME
#target create $_TARGETNAME cortex_a -dap $_DAPNAME
